<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main>
    </p>Rectanlges: to see list of rectangles</p>
    <a href="/rectangles">View all rectangles</a>
  </main>
</body>
</html>
